#content1 {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  /* margin-top: 15px; */

  padding: 0 10rem;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}
#content1.show {
  display: flex;
}

#modal {
  /* border: 10px solid #988b7a; */
  border: 10px solid var(--lilac);
  box-shadow: 0 0 0 10px white;
}
.close {
  position: absolute;
  font-size: 1.2rem;
  line-height: -4;
  top: 35%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 4px solid white;
  background: var(--lilac);
  color: white;
  font-family: "PT Mono", "Helvetica Neue", Helvetica, Arial;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0.3);
}
#content1.show .close {
  animation: modal 0.3s ease;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
